<!DOCTYPE html>
<html lang="en">
<head>
	<meta chatset="UTF-8" />
	<meta name="viewport" content="width = device-width,initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>DEMO</title>
</head>
<body>
	<h1 class="demo-text"></h1>
	<input class="demo_input" type="text"/>
	<button class="demo-button">reset</button>


	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.js"></script>
</body>




</html>



<script type="text/javascript">
	$(document).ready(function () {

	});
	$(".demo-button").click(function () {
		$(".demo-input").val(" ");
	})




</script>